body {
    background-color: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;

}

.side-bar {
    height: 100vh;
    width: 25vw;
    background-color: #171717;
    /* position: fixed; */
    overflow-x: hidden;
    overflow-y: auto;

}

.chat-container {
    display: flex;
    height: 100vh;
    width: 75vw;
    padding: 0px;
    align-items: center;
    background-color: #212121;
    flex-direction: column-reverse;
}



.chat-input {
    display: flex;
    height: 40px;
    width: 30vw;
    font-size: 20px;
    padding: 5px 30px;
    margin: 50px;
    background-color: #2f2f2f;
    color: white;
    border: none;
    border-radius: 30px;

}

.menubar{
    position: fixed;
}

.menubar .bar1,.bar2,.bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 10px;
    transition: 0.5s;
}

.menubar-change .bar1{
    transform: translate(0,11px) rotate(-45deg);
}
.menubar-change .bar2{
    opacity: 0;
}
.menubar-change .bar3{
    transform: translate(0,-11px) rotate(45deg);
}




@media screen and (max-width:750px) {

    /* .side-bar{
        display: none;
    }
    .chat-container{
        width:100vw
    } */
    
}