body {
    background-color: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;

}



.side-bar {
    height: 100vh;
    background-color: #171717;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 0.5s;
}
.side-bar-hide{
    width: 0vw;
}

.side-bar-show{
    width: 25vw;
}



.chat-container {
    display: flex;
    height: 100vh;
    padding: 0px;
    justify-content: end;
    align-items: center;
    background-color: #212121;
    flex-direction: column;
    transition: width 0.5s;
}



.chat-container-expand{
    width: 100vw
}

.chat-container-shrink{
    width: 75vw;
}

.chat-history{
    height: 80vh;
    overflow-y: auto;
}

.chat-history-expand{
    width: 60vw;
}


.chat-input {
    display: flex;
    height: 40px;
    width: 30vw;
    font-size: 20px;
    padding: 5px 30px;
    margin: 50px;
    background-color: #2f2f2f;
    color: white;
    border: none;
    border-radius: 30px;

}



.menubar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5vw;
    padding-left: 1vw;
    padding-bottom: 0.5vw;
    padding-right: 1vw;
    position: fixed;
    transition: 0.5s;
}

.menubar .bar1,.bar2,.bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 3px 3px;
    border-radius: 4px;
    transition: 0.5s;
}

.menubar-change{
    padding-left: 25vw;
    background-color: white;
    border-radius: 0px 40px 40px 0px;
    position: absolute;
}

.menubar-change .bar1{
    transform: translate(0,11px) rotate(-45deg);
    background-color: grey;
}
.menubar-change .bar2{
    opacity: 0;
}
.menubar-change .bar3{
    transform: translate(0,-11px) rotate(45deg);
    background-color: grey;
}




@media screen and (max-width:750px) {

    /* .side-bar{
        display: none;
    }
    .chat-container{
        width:100vw
    } */
    
}