<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT-CLONE</title>
    <link rel="shortcut icon" href="{{url_for('static',filenmae='images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
</head>

<body>
    <div class="flex justify-centre">
        <div class="flex-box sidebar">

        </div>
        <div class="flex-box">

        </div>
    </div>
</body>

</html>