<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT-CLONE</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
</head>

<body>
    <div class="flex-container">
        <div class="menubar" id="menu-bar" onclick="change_display()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="side-bar side-bar-hide " id="side-bar">
            <div>
                <!-- <span onclick="change_display()" id="new-chat">New Chat</span> -->
            </div>
        </div>
        <div class="chat-container chat-container-expand" id="chat-container">

            <div class="chat-history"></div>
                
            <!-- </div class="chat-box"> -->

            <input type="text" class="chat-input" placeholder="Message Me!">
        <!-- </div> -->
    </div>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>