<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT-CLONE</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
</head>

<body>
    <div class="flex-container">
        <div class="side-bar" id="side-bar">
            <div>
                <span onclick="hide_this_bar()" id="new-chat">New Chat</span>
            </div>
        </div>
        <div class="chat-container">

            <div class="chat-history"></div>
                
            <!-- </div class="chat-box"> -->

            <input type="text" class="chat-input" placeholder="Message Me!">
        <!-- </div> -->
    </div>
    <script>
        function hide_this_bar(){
            document.getElementById("side-bar").hidden=true;
        }
    </script>
</body>

</html>